body {
  background: url(image/vivid-blurred-colorful-background.jpg);
  background-repeat: repeat-y, repeat-y;
  background-position: left, right;
  background-attachment: fixed, fixed;
  -moz-background-size: 100%; /* Firefox 3.6+ */
  -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
  -o-background-size: 100%; /* Opera 9.6+ */
  background-size: 100%; /* Современные браузеры */
}
   
body h1, h3 {
  font-family: Roboto Condenset, sans-serif;
  font-weight: 300;
  margin: 15px;
  text-align: center;
}

#main-nav{
  height: 60px;
  text-align: right;
}

.logo-holder {
  float: left;
  padding-left: 12px;
  text-align: left;
}

.img-log {width: 30%;}

#main-menu {
  list-style: none;
}

.main-menu-item {
  display: inline-block;
}

.main-menu-item a {
  color: rgb(245, 233, 233);
  text-decoration: none;
  background-color: rgb(13, 8, 56);
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  display: inline-block;
}


  

h4 {margin-left: 30px;}

blockquote {
  font-style: italic;
  color: rgb(37, 1, 34);
  letter-spacing: 0.5px;
  word-spacing: 5px;
  text-align: justify;
  margin: 20px;
}

#site-title {
  font-family: 'Lobster', cursive, sans-serif;
  text-align: center;
}

.container {
  margin: auto;
  justify-content: center;
  align-items: center;
  width: 240px;
}

.container::before {
  display: block;
  width: 80px;
  height: 20px;
  background: #c79bba;
  position: absolute;
  margin-left: 20px;
  margin-top: 20px;
}

#main-header {
  border-bottom: 2px solid black;
}

#main-header::after {
  content: "";
  display: block;
  width: 840px;
  height: 35px;
  position: absolute;
  top: 20px;
  left: 250px;
  z-index: -2;
}

#top-stories {
  width: 1000px;
  margin: auto;
  margin-top: 20px;
  text-align: center;
}

#button-form {
  display: inline-block;
  color: rgb(129, 10, 66);
  background: #9bc7c5;
  text-align: center;
  display: block;
  margin-left: 600px;
}

article {
  vertical-align: top;
  max-width: 35%;
  object-fit: cover; 
  display: inline-block;
  margin: auto;
  padding: 3px;
  height: 350px;
  border: 1px solid black;
  border-radius: 20px;
}

.article-image {
  vertical-align: top;
  width: 300px; 
  height: 300px; 
  object-fit: cover; 
  background-size: cover !important;
  background-position: center !important;
  border-radius: 20px;    
}
 
a {
  color: rgb(77, 3, 70);
  text-align: center;
  text-decoration: none;
 }

a:hover {font-size: 22px;}

article:active {opacity: 0.4;}

p {
  letter-spacing: 0.5px;
  word-spacing: 5px;
  text-align: justify;
  margin: 20px;
}

section {
  max-width: 100%;
  width:700px;
  margin:auto;
}


  
  

